@using Sakura.Live.Twitch.Core.Services
@inject TwitchChatService TwitchChatSvc

<ServiceConfigButton Service="@TwitchChatSvc"
                     Clicked="ShowModal"
                     Text="Twitch" />

<Modal @ref="ModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Twitch Client</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Fields>
                <Field>
                    <FieldLabel>Username</FieldLabel>
                    <TextEdit @bind-Text="@TwitchChatSvc.Username">
                        <FieldHelp>Your Twitch login name</FieldHelp>
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel>Access Token</FieldLabel>
                    <TextEdit @bind-Text="@TwitchChatSvc.AccessToken"
                              Role="TextRole.Password">
                        <FieldHelp>How to: <a href="https://twitchapps.com/tmi/">Generate a Twitch Chat Token</a></FieldHelp>
                    </TextEdit>
                </Field>
                <Field>
                    <FieldLabel>Channel</FieldLabel>
                    <TextEdit @bind-Text="@TwitchChatSvc.Channel">
                        <FieldHelp>The channel you want to speak on, not necessarily your own channel. (Be aware that you risk being banned by the owner)</FieldHelp>
                    </TextEdit>
                </Field>
            </Fields>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    Modal ModalRef { get; set; }

    /// <summary>
    /// Shows the configuration window
    /// </summary>
    /// <returns></returns>
    private Task ShowModal()
    {
        return ModalRef.Show();
    }

    /// <summary>
    /// Hides the configuration window
    /// </summary>
    /// <returns></returns>
    private Task HideModal()
    {
        return ModalRef.Hide();
    }
}
